cabeçalho{background-color: violet;color: #000; display: flex; justify-content: space-around; }
.imagem_logo:{width: 20%;}
.cabeçalho-lista-item{display: inline-block;}
marging : 0 16 px ; font-size : 20 px;} 